[theme="dark"]:root {
	--body-color: #1b1a1f;
	--text-color: white;
	color-scheme: dark;
}

[theme="dark"]{
	.version{
		background: grey;
	}
	.loader{
		background: dimgray;
	}
	.search-container {
		background: #282c35;
	}
	.search-container input {
		color: white;
	}
	.search-container i:hover{
		background: #414656;
	}
	.search-container.disabled{
		opacity: 1;
	}
	input[type="text"]{
		background: #282c35;
		color: white;
	}
	.select details{
		background: #272b35;
	}
	.select details summary{
		background: #272b35;
	}
	.stream{
		background: #313541;
	}
	.radio-tabs label:hover{
		background: #0053ff;
		color: white;
	}
	.radio-tabs label:has(input:checked){
		background: #0038ae;
		color: white;
	}
	#downloads-list .download-item .open-file{
		color: lightgrey;
	}
	#downloads-list .download-item .open-file:hover{
		color: darkgrey;
	}
	#downloads-list .ads{
		background: black;
		color: white;
	}
	.tiny-button {
		background: #666;
	}
	.tiny-button:hover{
		background: #555;
	}
	.tiny-button:active{
		background: #444;
	}
	input[type="checkbox"]{
		background-color: grey;
	}
	input[type="checkbox"]:hover {
		background-color: #aaa;
	}
	#search-result .download{
		background: linear-gradient(135deg, #33a036, #147917);
		background-size: 100%;
	}
}
