body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
* {
	box-sizing: border-box;
}


.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18pt;
	height: 50px;
	padding: 0 10px;
}

.logo{
	display: flex;
	height: 100%;
	align-items: center;
	gap: 5px;
	user-select: none;
}
.logo img{
	height: 60%;
}

.settings-button{
	font-size: 24pt;
	cursor: pointer;
}
.settings-button i{
	transition: 0.25s;
}
.settings-button:hover i{
	transform: rotate(90deg);
}

.search-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.search-container {
	display: flex;
	align-items: center;
	background-color: #eee;
	width: 300px;
	border-radius: 25px;
	font-size: 16px;
	transition: 0.3s;
	margin: 0 10px;
	user-select: none;
}
.search-container.disabled{
	pointer-events: none;
}
.search-container:focus-within {
	width: 400px;
}
.search-container input {
	width: 100%;
	padding: 12px 0 12px 0;
	font-size: inherit;
	background: transparent;
	border: none;
	outline: none;
}
.search-container i {
	cursor: pointer;
	height: 35px;
	width: 35px;
	flex-shrink: 0;
	margin: 0 4px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.15s;
}
.search-container i:hover{
	background: #ccc;
}


.popup {
	position: fixed;
	background: transparent;
	inset: 0;
	visibility: hidden;
	transition: 0.5s;
}
.popup.show{
	visibility: visible;
	background: rgb(0, 0, 0, 0.5);
}
.popup .popup-wrapper {
	background: white;
	width: 85dvw;
	height: 85dvh;
	max-width: 800px;
	top: 50%;
	position: absolute;
	left: 50%;
	translate: -50% -50%;
	border-radius: 16px;
	scale: 0;
	transition: 0.5s;
	overflow: hidden;
}
.popup.show .popup-wrapper{
	scale: 1;
}
.popup .close {
	color: red;
	font-size: 25px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	transition: 0.2s;
}
.popup .close:hover{
	transform: rotate(90deg);
}

.popup .left-menu{
	background: inherit;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	transform: translateX(-100%);
	transition: 0.4s;
	overflow: auto;
	padding: 10px;
	scrollbar-width: thin;
}
.popup .left-menu.open{
	transform: translateX(0);
}
.popup .left-menu h3{
	text-align: center;
	font-size: 16pt;
	margin: 10px;
	font-weight: bold;
}


.loader{
	height: 2px;
	background: lightgrey;
}
.loader.anim{
	--color: #ff0000;
	background: none;
	background-size: 200% 100%;
	background-image:
		linear-gradient(to right, var(--color) 16%, transparent 16%),
		linear-gradient(to right, var(--color) 16%, transparent 16%),
		linear-gradient(to right, var(--color) 25%, transparent 25%);
	animation: matter-progress-linear 1.8s infinite linear;
}
@keyframes matter-progress-linear {
	0% {background-position: 32% 0, 32% 0, 50% 0;}
	2% {background-position: 32% 0, 32% 0, 50% 0;}
	21% {background-position: 32% 0, -18% 0, 0 0;}
	42% {background-position: 32% 0, -68% 0, -27% 0;}
	50% {background-position: 32% 0, -93% 0, -46% 0;}
	56% {background-position: 32% 0, -118% 0, -68% 0;}
	66% {background-position: -11% 0, -200% 0, -100% 0;}
	71% {background-position: -32% 0, -200% 0, -100% 0;}
	79% {background-position: -54% 0, -242% 0, -100% 0;}
	86% {background-position: -68% 0, -268% 0, -100% 0;}
	100% {background-position: -100% 0, -300% 0, -100% 0;}
}


#search-result .video-thumb{
	height: 180px;
	width: 100%;
	object-fit: contain;
	background: black;
}
#search-result .metadata{
	width: 100%;
	text-align: center;
	font-size: 18px;
	max-width: min(90%, 500px);
	margin: 10px auto;
	display: grid;
	grid-template-columns: 0.25fr 1fr;
	align-items: center;
	gap: 10px 5px;
	justify-items: stretch;
	user-select: none;
}
#search-result input[type="text"]{
	width: 100%;
	font-size: inherit;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid grey;
	outline: none;
}


.radio-tabs{
	display: flex;
	margin: 0 28px;
	height: 35px;
	gap: 2px;
}
.radio-tabs label{
	padding: 8px 16px;
	color: #5182e9;
	transition: 0.2s;
	cursor: pointer;
	user-select: none;
	border-radius: 10px 10px 0 0;
}
.radio-tabs label:hover{
	background: #79a5ff;
	color: white;
	margin-top: -5px;
}
.radio-tabs label:has(input:checked){
	background: #1656da;
	color: white;
}
.radio-tabs label input{
	display: none;
}


.stream{
	background: lightgrey;
	font-size: 15pt;
	display: flex;
	gap: 10px;
	padding: 5px;
	border-radius: 15px;
	user-select: none;
	cursor: pointer;
	position: relative;
}
.stream.selected:before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	margin: -2px;
	border-radius: 17px;
	background: linear-gradient(45deg, #c700ff, #00a3ff);
}
.stream .container{
	background: #ff4f4f;
	color: white;
	border-radius: 10px;
	height: 55px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.stream .container-details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
}
.stream .container-details .container-details-head{
	font-size: 0.9em;
	display: flex;
	gap: 4px;
}
.stream .container-details .container-details-tags{
	display: flex;
	gap: 3px;
}
.stream .container-details .container-details-tags > *{
	color: white;
	background: grey;
	padding: 2px 6px;
	font-size: 0.7em;
	border-radius: 8px;
}
.stream .container-details .container-details-tags .filesize{
	background: #00bb28;
}


.stream-selectors{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0 10px;
	border: 1px solid #1655da;
	padding: 5px;
	border-radius: 20px;
}
.stream-selectors > .hide{
	display: none;
}

.select{
	display: none;
}
.select.show {
	display: flex;
	flex-direction: column;
	gap: 5px;
}


#search-result .download{
	padding: 8px 10px;
	padding-left: 0;
	font-size: 18px;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	background: linear-gradient(
		180deg,
		rgb(56, 56, 56) 0%,
		rgb(36, 36, 36) 66%,
		rgb(41, 41, 41) 100%
	);
	color: rgb(218, 218, 218);
	border-radius: 12px;
	border: 2px solid grey;
	margin: auto;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: 0.2s;
}
#search-result .download i{
	position: absolute;
	left: 0;
	width: 32px;
	transition: 0.2s;
}
#search-result .download span{
	margin-left: 32px;
	transition: 0.2s;
}
#search-result .download:hover i{
	left: 50%;
	transform: translateX(-50%) scale(1.25);
}
#search-result .download:hover span{
	transform: translateX(100%);
	opacity: 0;
}
#search-result .download:active{
	transform: translateY(1px);
	filter: drop-shadow(0 0 3px lime);
}




#downloads-list{
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
}
#downloads-list .download-item{
	--percent: 0;
	height: 150px;
	background: black;
	color: white;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	user-select: none;
	animation: apear-left 0.5s ease;
}
#downloads-list .download-item .progress{
	position: absolute;
	inset: 0;
	background: linear-gradient(90deg, transparent, white);
	opacity: 0.4;
	transform: translateX(calc(-1% * (100 - var(--percent))));
	transition: 0.5s ease-in-out;
}
#downloads-list .download-item .cover{
	inset: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.75;
}
#downloads-list .download-item .info{
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 12px;
	box-shadow: 0 0 25px black inset;
}
#downloads-list .download-item .author{
	font-size: 0.9rem;
	color: lightgrey;
}
#downloads-list .download-item .sub{
	font-family: monospace;
	display: flex;
	gap: 6px;
}
#downloads-list .download-item .time{
	color: yellow;
}
#downloads-list .download-item .percent::before{
	color: lime;
	counter-reset: variable var(--percent);
	content: '[' counter(variable) '%]';
}
#downloads-list .download-item .abort i{
	color: red;
	background: white;
	font-size: 32px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.15s;
}
#downloads-list .download-item .abort i:hover{
	transform: rotate(90deg);
}
#downloads-list .download-item .open-file{
	font-size: 24px;
	cursor: pointer;
	transition: 0.15s;
	display: none;
}
#downloads-list .download-item .open-file:hover{
	color: lightgrey;
}
#downloads-list .download-item.finished .progress,
#downloads-list .download-item.finished .percent,
#downloads-list .download-item.finished .abort
{
	display: none;
}
#downloads-list .download-item.finished .open-file{
	display: block;
}
#downloads-list .download-item.finished{
	order: 2;
}
#downloads-list .download-item.aborted{
	filter: grayscale(1);
}
#downloads-list .download-item.aborted .open-file{
	display: none;
}

@keyframes apear-left{
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}


#error-popup .popup-wrapper{
	height: fit-content;
}
#error-popup .text {
	padding: 12px 20px;
	margin: 30px 10px;
	position: relative;
	font-family: monospace;
	background: linear-gradient(90deg, rgb(255, 0, 0, 0.1), transparent);
	border-radius: 5px 0 0 5px;
}
#error-popup .text::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 5px;
	background: red;
	border-radius: 10px 0 0 10px;
}
